<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		
		<head>
		
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		
		</head>
	
	
		<meta charset="UTF-8">
		<title>Cadastro de Carro</title>
		
		
		<body>
		
			<div class="container">
				 
				 <div class = "panel-heading" align="center">
				 
				 	<div class = "text-center">
				 	
				 		<strong>Cadastro de Carro</strong>
				 	
				 	</div>
				 	
				 	<div class = "panel-body border">
				 	
				 		<form class = "form-horizontal" th:action="@{/carro/salvar}" th:object="${carro}" method="post" style="margin: 10px;">
				 		
				 			<div class = "form-group">
				 			
				 				<fieldset>
				 				
				 					
				 					<div class="form-group row">
				 					
				 						<label>MODELO</label>
				 						<input type="text" th:field="*{modelo}" class="form-control input-sm" autofocus="autofocus" placeholder="Informe o modelo" maxlength="50"/>
				 					
				 					</div>
				 					
				 					
				 					<div class="form-group">
				 					
				 						<label>CHAVE</label>
				 						<select class = "form-control" th:field="*{chave}">
				 							<option value = "">Selecione a chave</option>
				 							<option th:each = "chave : ${chaves}" th:value = "${chave.id}" th:text ="${chave.id}"></option>
				 						</select>
				 					
				 					</div>
				 					
				 					
				 					<div class="form-group">
				 					
				 						<label>DOCUMENTO</label>
				 						<select class = "form-control" th:field="*{documento}">
				 							<option value = "">Selecione o documento</option>
				 							<option th:each = "documento : ${documentos}" th:value = "${documento.id}" th:text ="${documento.nome}"></option>
				 						</select>
				 					
				 					</div>
				 					
				 					
				 					<div class="form-group">
				 					
				 						<label>FABRICANTE</label>
				 						<select class = "form-control" th:field="*{fabricante}">
				 							<option value = "">Selecione o fabricante</option>
				 							<option th:each = "fabricante : ${fabricantes}" th:value = "${fabricante.id}" th:text ="${fabricante.nome}"></option>
				 						</select>
				 					
				 					</div>
				 					
				 					
				 					
				 					<div class="form-group">
				 					
				 						<label>ACESSÓRIO</label>
				 						<div th:each = "acessorio : ${acessorios}">
				 							<input type = "checkbox" th:field = "*{acessorios}" th:value = "${acessorio.id}" />
				 							<label th:for = "${('acessorios')}" th:text = "${acessorio.nome}"></label>
				 						</div>
				 					
				 					</div>
				 					
				 				
				 				</fieldset>
				 				
				 			
				 			</div >
				 			
				 			
				 			<div align="center">
				 			
				 				<button type="submit" class="btn btn-sm btn-success">Salvar</button>
				 				<a th:href="@{/carro/listar}" class="btn btn-sm btn-default">Cancelar</a>
				 			
				 			</div>
				 		
				 		
				 		</form>
				 	
				 	</div>
				 
				 </div>
				 
			</div>
			
		
		</body>
		
	</html>